$main: #f05455;
$dark-grey: rgba(40, 40, 40, 255);
$md-grey: rgba(48, 48, 48, 255);
$light-grey: rgba(55, 55, 55, 255);
$bg-blue: rgba(99, 98, 228, 255);


.bg-dark-grey {
    background-color: $dark-grey;
}

.bg-md-grey {
    background-color: $md-grey;
}

.bg-light-grey {
    background-color: $light-grey;
}

.red {
    color: $main;
}

.bg-red {
    background-color: $main;
}

.bg-blue {
    background-color: $bg-blue;
}

.header {
    padding-bottom: 100px;
    
    .head {
        position: fixed;
        // margin-left: 100px;
        z-index: 10;
        background-color: rgb(27, 26, 26);
        // background-color: rgb(199, 199, 199);
        nav {
            .nav-link {
                color: white;
                margin: 5px;
            }

            .nav-link:hover {
                color: black;
                background-color: white;
                border-radius: 5px;
            }
        }
    }
}

.heading {
    .h1 {
        font-size: 5em;
    }

    .h2 {
        font-size: 2em;
    }

    .text {
        color: rgba(255, 255, 255, 0.6);
    }
}

.work {
    .card {
        border-radius: 0px;
        transition: 0.3s;
        font-size: 0.8em;

        p {
            margin: 3px 0;

            i {
                font-size: 2.3em;
                transition: 0.3s;
            }

            i:hover {
                transform: rotate(-90deg);
            }

        }
    }

    .card:hover {
        background-color: $bg-blue;
    }
}

.about {
    .about-bg {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .about-content {

        position: relative;
        top: 12px;
        left: 15px;
    }

    .mb-4 {
        margin-bottom: 2em !important;
    }

    ul {
        li {
            list-style: none;
            margin: 15px 0;

            i {
                padding: 5px 10px;
                margin: 0 5px;
            }

            i:hover {
                background-color: #bb3e3e;
            }
        }
    }
}